services:
    app:
        image: ghcr.io/vsadeghy/cicd:latest
        container_name: app
        restart: unless-stopped
        ports:
            - 3000:3000
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
            interval: 10s
            timeout: 3s
            retries: 3

    watchtower:
        image: containrrr/watchtower:latest
        container_name: watchtower
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        restart: unless-stopped
        environment:
            # - WATCHTOWER_NOTIFICATION_URL=slack://xoxb-...
            - WATCHTOWER_SCHEDULE=30 * * * * *
        command: --cleanup --rolling-restart --stop-timeout 30s app # --http-api-update
        ports:
            - 8080:8080
